#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

#logo {
  font-size: 48px;
  text-align: left;
  margin-left: 40px;
}

.logo-link {
  text-decoration: none;
  color: black;
}

.header-links {
  align-self: right;
  height: fit-content;
  margin-right: 40px;
}

.link {
  margin-right: 20px;
}
